<div >
  <span> Common statistics </span>
  <div class="card-deck">
     <div class="card bg-info">
         <div class= "container1">
            <div class=“card-body”>
                <div class="alert-info">
                   <p class=“card-title”>Order </p>
                   <a href=“#” class="btn btn-info"><h5>More Info</h5></a>
                </div>
            </div>
         </div>
      </div>

      <div class="card bg-warning">
         <div class= "container1">
           <div class=“card-body”>
              <div class="alert-warning">
                 <p class=“card-title”>Pending return request </p>
                 <a href=“#” class="btn btn-warning"><h5>More Info</h5></a>
              </div>
           </div>
         </div>
      </div>
      <div class="card bg-success">
         <div class= "container1">
          <div class=“card-body”>
             <div class="alert-success">
                <p class=“card-title”>Registered customers </p>
                <a href=“#” class="btn btn-success"><h5>More Info</h5></a>
             </div>
          </div>
         </div>
      </div>
      <div class="card bg-danger">
        <div class= "container1">
         <div class=“card-body”>
            <div class="alert-danger">
               <p class=“card-title”>Low stock products </p>
               <a href=“#” class="btn btn-danger"><h5>More Info</h5></a>
            </div>
         </div>
        </div>
     </div>
</div>
</div>

