<div class= "menu"  >
  <div class= "card  border-primary">
    <div class = "container">
       <span>NopCommerce News</span><br>
       <div class= "subContainer">
          <a href= “#”  class= "btn btn-info"  >Powered by nopCommerce</a>
          <p class= “card-title”>
            Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click here for more info.
          </p>
       </div>
       <div class= "subContainer">
          <a href= “#”  class= "btn btn-info "  >Premium support services</a>
          <p class= “card-title”>
            Get dedicated support from the nopCommerce team with a guaranteed response within 24 hours. Click here for more info.
          </p>
       </div>
       <div class= "subContainer">
        <a href= “#”  class= "btn btn-info"  >Recommended hosting for your store</a>
        <p class= “card-title”>
          Everleap cloud hosting seamlessly scales sites with ease and they move stores for free. Learn more and get a 30 day free trial.
        </p>
     </div>
    </div>
  </div>
<br>
</div>
<app-content></app-content>
